
.sidebar {
  width: 250px;
  top: 60px;
  margin-top: 70px;
  min-height: 100vh;
  background-color: #f8f9fa;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}



@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%); 
    z-index: 1100;
  }

  .sidebar.open {
    transform: translateX(0); 
  }

  
  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
  }
}

.sidebar-link {
  text-decoration: none !important;
  color: inherit; 
}

.sidebar-link.active {
  color: green;     
  font-weight: 600;   
  
}
.sidebar ul {
  list-style: none;
  padding-left : 10px;
  margin: 20px;
}