.chart-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.chart-title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
  color: #204a43;
  margin-top: 20px;
}

.attempt-select {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.attempt-select label {
  color: #204a43; 
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
}
.attempt-select select {
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
}

.card {
  border-radius: 12px;
  background: #ffffff;
}

.card p {
  margin-bottom: 8px;
}

.card hr {
  border-color: #ccc;
}
