.navbar {
  background-color: #1c1c1c !important; /* Darker than default bg-dark */
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  padding: 0.6rem 1.5rem;
}

.navbar-brand {
  color: #db9d23 !important;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
  color: #ff7b00 !important;
}

.navbar-nav .nav-link {
  color: #f8f9fa !important;
  font-weight: 500;
  margin: 0 8px;
  padding: 8px 14px;
  border-radius: 6px;
  font-size: large;
  position: relative;
  transition: color 0.3s ease, background-color 0.3s ease;
}

/* .navbar-nav .nav-link.active {
  color: #f8f9fa !important;
  background-color: transparent !important;
  font-weight: 600;
} */

.navbar-nav .nav-link:hover {
  background-color: rgba(0, 212, 255, 0.2);
  color: #00d4ff !important;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 50%;
  bottom: 4px;
  background-color: #00d4ff;
  transition: all 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}

.navbar-toggler {
  border: none;
}

.navbar-light .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon,
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}



.navbar-nav .nav-link.login-link {
  background-color: #00d4ff;
  color: #000 !important;
  font-weight: 600;
  border-radius: 6px;
  padding: 8px 14px;
  transition: background-color 0.3s ease;
}

.navbar-nav .nav-link.login-link:hover {
  background-color: #00aacc;
  color: #fff !important;
}






.app-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  color: #ffffff;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.4);
  transition: transform 0.3s ease, color 0.3s ease;
}

.app-title .highlight {
  background: linear-gradient(90deg, #ffcc00, #ff4d4d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
}

.app-title:hover {
  transform: scale(1.05);
  color: #00d4ff;
}
